body {
  background: #231412;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.skorgvd {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  font-weight: bold;
  padding: 2rem;
}

button {
  background: transparent;
  border: none;
}

button img {
  height: 10rem;
}

.skorgvd div {
  padding: 1rem;
}

.gvd {
  width: 100%;
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.gvd > div {
  flex: 0 0 auto;
  width: 40;
}

.bilgi {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 35%;
  font-size: 1.5rem;
  text-align: center;
}

.bilgi div {
  flex: 0 0 auto;
  width: 50%;
}

@media screen and (max-width: 990px) {
  .skorgvd {
    font-size: 6vw;
    padding: 0%;
  }
  .bilgi {
    font-size: 4vw;
  }

  button img {
    height: 20vw;
  }
  .bilgi {
    width: 60%;
  }
}
